$main-bg: #f3f4f6;

.main-layout {
  position: relative;
  background-color: $main-bg;
  width: 100%;
  min-height: 100vh;

  padding-top: calc($header-height + 40px);
  padding-left: calc($sidebar-width + 30px);
}

.header {
  width: 100%;
  height: $header-height;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;

  &__icon {
    width: 48px;
    height: 48px;
    cursor: pointer;
    padding: 13px;
    background-color: #f2f2f2;
    border-radius: 50%;

    position: relative;
  }

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding-left: 20px;
    cursor: pointer;
    text-decoration: none;

    .website-name {
      p {
        font-size: 14px;
        color: black;

        &:first-child {
          font-family: "HKModular";
          font-weight: 800;
          font-size: 16px;
          text-transform: uppercase;
        }
      }
    }

    .logo {
      height: calc($header-height - 25px);
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  &__profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    position: relative;

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #f2f2f2;
      // padding: 10px;
      object-position: center;
      object-fit: cover;
      cursor: pointer;
    }

    .user-detail {
      display: flex;
      flex-direction: column;
      align-items: end;
      cursor: pointer;

      p {
        font-size: 14px;
        line-height: 16px;
        margin: 0;
        padding: 0;

        span {
          font-size: 16px;
          font-weight: 600;
        }

        &:last-child {
          font-size: 13px;
          font-weight: 300;
        }
      }
    }

    .dropdown-menu {
      position: absolute;
      right: 0;
      bottom: -135px;
      width: 180px;
      padding: 15px 0;
      background-color: #fff;
      box-shadow: 0 0 37px rgba(8, 21, 66, 0.05);
      flex-direction: column;
      align-items: start;
      gap: 10px;

      &__item {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        cursor: pointer;
        padding: 10px 20px;
        width: 100%;
        p {
          color: #6c757d;
          font-size: 15px;
          font-weight: 500;
        }

        &:hover {
          background-color: #e9ecef;
        }

        &:not(:last-child):hover {
          p {
            color: #42c6ff;
          }
        }
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
}

.sidebar {
  width: $sidebar-width;
  min-height: calc(100vh - $header-height);
  max-height: calc(100vh - $header-height);
  padding-left: 30px;
  padding-top: 20px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;

  position: fixed;
  top: $header-height;
  left: 0;

  overflow: auto;

  .sidebar__button {
    font-size: 18px;
    font-weight: 500;
    color: #495057;

    background-color: transparent;
    border: 0;
    outline: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;

    .icon {
      font-size: 20px;
      color: #495057;
    }

    &:hover {
      color: #42c6ff;

      .icon {
        color: #42c6ff;
      }
    }

    &.active {
      color: #42c6ff;

      .icon {
        color: #42c6ff;
      }
    }
  }
}
