// Base colors
$green-1: #62d07a;
$green-2: #48c546;
$green-3: #2aac27;
$red-1: #ff6666;
$red-2: #eb5454;
$blue-1: #0b80cc;
$blue-2: #0072bc;
$blue-3: #023e8a;
$blue-4: #03045e;
$yellow-1: #fece71;
$yellow-2: #f5bf55;
$gray-1: #212529;
$gray-2: #343a40;
$gray-3: #495057;
$gray-4: #6c757d;
$gray-5: #adb5bd;
$gray-6: #ced4da;
$gray-7: #dee2e6;
$gray-8: #e9ecef;
$gray-9: #f8f9fa;

// Transparent colors
$transparent-green: #f0fff3;
$transparent-blue: #edf6ff;
$transparent-red: #fff0f0;
$transparent-yellow: #fff7e3;

// Background colors
$bg-white: #ffffff;
$bg-light-gray: #f4f5f9;

// Text-colors
$text-dark: #25252e;
$text-light-1: #585866;
$text-light-2: #81818f;
$text-light-3: #b2b2c2;
$text-white: #ffffff;

// Border colors
$border-light: #e4e4ee;

// Icon colors
$icon-default: #585866;
$icon-hover: #25252e;
$icon-pressed: #44474a;
$icon-critical: #eb5454;
$icon-success: #48c546;

// HEIGHT
$height-36: 36px;
$height-44: 44px;
$height-48: 48px;

$sidebar-width: 290px;
$header-height: 88px;
