.matchingBtnGroup {
    display: flex;
    justify-content: space-evenly;
}
.matchingBtnGroup > button {
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: #eee;
    border: 1px solid #ccc;
}
.matchingBtnGroup > button:first-child {
    background-color: #F41313;
    color: #fff;
}
.matchingBtnGroup > button:hover{
    opacity: 0.8;
    transition: 0.3s;
}
.matchingBtnGroup > button:last-child {
    background-color: green;
    color: #fff;
    margin-bottom: 10px;
}